table {
  width: 100%;
}

.card-header {
  padding-bottom: 30px;
}

.form-field {
  padding-bottom: 10px;
}

.input-card {
  width: 100%;
  max-width: 500px;
}

.card-content {
  display: flex;
  flex-direction: column;
}



